<nav class="navbar home" ng-class="genreClass">
  <div class="topbar">

  </div>
  <div class="content logo-container">
    <a href="#/">
      <img class="logo"src="./pno-logo.png" alt="PNO logo">
    </a>
    <a href="#/articles/{{genreClass}}">
      <h2 class="genre-header home-text" ng-class="genreText">{{genre}}</h2>
    </a>
  </div>
  <div class="content search-bar">
    <form class=""  method="post" ng-submit="search()">
      <input class="search" type="text" name="text" ng-model="searchParam" >
    </form>
    <div class="search-button" ng-click="search()">
      <i class="fa fa-search search-icon" aria-hidden="true" ></i>
    </div>

  </div>
  <div class="content">
    <div class="genre-bar">
      <a href="#/">
        <div class="genre">
          Home
        </div>
      </a>
      <a href="#/articles/politics">
        <div class="genre">
          Politics
        </div>
      </a>
      <a href="#/articles/us">
        <div class="genre">
          U.S.
        </div>
      </a>
      <a href="#/articles/entertainment">
        <div class="genre">
          Entertainment
        </div>
      </a>
      <a href="#/articles/tech">
        <div class="genre">
          Tech
        </div>
      </a>
      <a href="#/articles/science">
        <div class="genre">
          Science
        </div>
      </a>
      <a href="#/articles/health">
        <div class="genre">
          Health
        </div>
      </a>
      <a href="#/articles/travel">
        <div class="genre">
          Travel
        </div>
      </a>
    </div>
  </div>

</nav>
