* {
  box-sizing: border-box;

}
.debugBorder {
  border: 1px solid red;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #eeeeee;
  position: relative;
}
.footer {
  width: 100%;
  height: 250px;
  background-color: #303030;
  clear: both;
  text-align: center;
  padding: 30px;
}
.footer p{
  color: #b0b0b0

}
.navbar {
  position: relative;
  height: 150px;
  width: 100%;

}
.topbar {
  position: absolute;
  top: 0;
  background-color: #303030;
  width: 100%;
  height: 30px;
}
.home {
  background-color: rgba(46, 79, 129, 0.75);
  border-bottom: 4px solid #a0d000;
}
.politics {
  background-color: rgba(76, 100, 131, 0.75);
  border-bottom: 4px solid #CD854C;
}
.us {
  background-color: rgba(68, 96, 142, 0.75);
  border-bottom: 4px solid #CD5C4C;
}
.entertainment {
  background-color: rgba(171, 30, 30, 0.75);
  border-bottom: 4px solid #7183cb;
}
.tech {
  background-color: rgba(126, 55, 135, 0.75);
  border-bottom: 4px solid #e7cb7e;
}
.science {
  background-color: rgba(103, 173, 92, 0.75);
  border-bottom: 4px solid #654d3c;
}
.health {
  background-color: rgba(78, 205, 204, 0.75);
  border-bottom: 4px solid #9d446f;
}
.travel {
  background-color: rgba(232, 208, 129, 0.75);
  border-bottom: 4px solid #3e7d70;
}
.homeText {
  color: #a0d000;
}
.politicsText {
  color: #CD854C;
}
.usText {
  color: #CD5C4C;
}
.entertainmentText {
  color: #7183cb;
}
.techText {
  color: #e7cb7e;
}
.scienceText {
  color: #a17b60;
}
.healthText {
  color: #c44281;
}
.travelText {
  color: #3e7d70;
}

.homeHeadline:hover {
  color: #a0d000;
}
.politicsHeadline:hover {
  color: #CD854C;
}
.usHeadline:hover {
  color: #CD5C4C;
}
.entertainmentHeadline:hover {
  color: #7183cb;
}
.techHeadline:hover {
  color: #e7cb7e;
}
.scienceHeadline:hover {
  color: #a17b60;
}
.healthHeadline:hover {
  color: #c44281;
}
.travelHeadline:hover {
  color: #3e7d70;
}

.content {

  margin: auto;
  width: 100%;
  max-width: 1030px;
  clear: both;
}
.search-content {
  margin: auto;
  width: 100%;
  max-width: 960px;
  clear: both;
}
 a {
  text-decoration: none;
  color: black;
}
.logo {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 60px;
  margin-left: 10px;
  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
.search-bar {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.search {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  height: 26px;
  width: 260px;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 1.05em;
  border-radius: 5px;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #969696
}
.search-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
.search-header {
  clear: both;
  position: relative;
  height: 90px;
  width: 100%;
}
.search-header i {
  font-size: 4em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 180px
}
.search-topbar {
  position: relative;
  top: 0;
  background-color: #303030;
  width: 100%;
  height: 30px;
}
.search-page-search {
  width: 100%;
  height: 40px;
  margin: auto;
  padding-left: 40px;
  font-size: 1.8em
}
.search-page-button {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.search-page-button:hover {
  background-color: #dddddd;
  border: 1px solid rgb(173, 173, 173)
}
.search-page-bar {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
}
.result-count {
  margin-top: 50px;
  margin-left: 5px;
}
.results {
  min-height: 600px;
}
.result-list {

}
.result-list-container {
  position: relative;
  float: left;
  clear: both;
  border-bottom: 1px solid #acacac;
  width: 100%;
  padding: 15px;
}
.result-list-img {
  width: 200px;
  float: right;
}
.result-list-headline {
  float: left;
  margin: 0px;
  font-size: 1.2em;
  margin-left: 25px;
  color: black;
}
.result-list-snippet{
  float: left;
  margin-left: 25px;
  max-width: 600px;
  font-size: 0.8em;
}
.logo-container {
  position: relative;

  top: 50%;
  transform: translate(0, -50%);
}

.genre-header{
  margin: 0;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 180px;
  transform: translate(0, -50%);
  font-size: 3.9em;
  font-weight: 300;
}
.genre-bar {
  position: absolute;
  bottom: 5px;
}
.genre {
  margin: 3px 15px;;
  color: white;
  padding: 7px;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.8em
}
.genre:hover {
  background-color: rgba(254, 254, 254, 0.17);
  border-radius: 3px;
}
.top-article-container {
  margin: 10px;
  float: left;
  width: 650px;
}
.top-article-img-container {
  position: relative;


}
.top-article-img {
  width: 650px;
  height: 390px;
}
.top-article-headline {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 5px;
  border-bottom: 0px;
}
.top-article-headline p {
  margin: 0px;
  font-size: 1.4em;
  color: white;
}

.sub-article-container {
  position: relative;
  margin: 10px;
  float: left;
  width: 315px;
}
.sub-article-img {
  width: 315px;
  height: 189px;
}
.sub-article-tagline {
  position: absolute;
  width: 100%;
  padding: 5px;
  top: 0px;
  border-bottom: 0px;
}
.sub-article-tagline p {
  margin: 0px;

  font-size: 1.1em;
  color: white;
}
.sub-article-headline {
  margin: 0px;
  margin-top: 10px;
  font-size: 1.1em;
  cursor: pointer;
  color: black;
}
.related-story-container {
  width: 100%;
  margin: 5px 0;
  border-top: 1px solid #acacac;
  padding: 4px 0;
}
.related-story-container p {
  color: black;
  font-size: 1.3em;
  margin: 0
}
.related-article-repeater > :first-child {
  border-top: 0px;
}
.divide-line {
  border-bottom: 3px solid #7c7c7c;
  clear: both;
}
.hot-article-list-container {
  position: relative;
  float: left;
  clear: both;
  border-bottom: 1px solid #acacac;
  width: 100%;
  padding: 15px;
}
.hot-article-list-headline{
  float: left;
  margin: 5px;
  margin-left: 25px;
  color: black;
}
.hot-article-list-snippet{
  float: left;
  margin: 5px;
  margin-left: 25px;
  max-width: 600px;
}
.hot-article-list-img {
  width: 275px;
  float: left;
}
.article-list {
  /*display: flex;
  flex-wrap: wrap;
  align-content: center;*/
  min-height: 300px;
  margin-top: 10px;
}
.article-list-container {
  position: relative;
  float: left;
  clear: left;
  border-bottom: 1px solid #acacac;
  width: 500px;
  margin: 0 7px;
  padding: 5px 0;

}
.article-list-container:nth-child(even) {
  float: right;
  clear: right;
}
.article-list-headline{
  float: left;
  margin: 4px;
  font-size: 0.9em;
  margin-left: 25px;
  color: black;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0
}
.pagination a {
  text-decoration: none;
}
.paginationControl {
  color: black;
  text-decoration: none;


}
.pagination li {

  /*float: right;*/
  margin: 5px;
  list-style: none;
  font-size: 1.5em;

}
.disabled a{
  color: rgb(145, 145, 145) !important;
  cursor: default;
}
.pagination-controls-container {

}
